<div>
  <h2>Olá {{name}}!</h2>
  <p>Aqui está o código para você alterar sua senha: {{recPassToken}}</p>
  <p>Atenciosamente,</p>
  <p>Equipe Kenzie Market</p>
  <small>Se você não solicitou nenhuma recuperação de senha, desconsidere esta
    mensagem.</small>
</div>